USE [master]
GO
/****** Object:  Database [QLBH]    Script Date: 6/2/2020 2:47:38 PM ******/
CREATE DATABASE [QLBH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLBH', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QLBH.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLBH_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QLBH_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLBH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLBH]
GO
/****** Object:  Table [dbo].[Attribute]    Script Date: 6/2/2020 2:47:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attribute](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[value] [nvarchar](225) NULL,
	[type] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Bill]    Script Date: 6/2/2020 2:47:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Bill](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[total] [float] NULL,
	[maHoaDon] [nvarchar](255) NULL,
	[userPhone] [varchar](255) NULL,
	[create_at] [timestamp] NOT NULL,
	[adminPhone] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BillDetail]    Script Date: 6/2/2020 2:47:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillDetail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[bill_id] [int] NULL,
	[quantity] [int] NOT NULL,
	[total] [float] NULL,
	[adminPhone] [nvarchar](255) NULL,
	[userPhone] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Category]    Script Date: 6/2/2020 2:47:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](225) NULL,
	[created_at] [timestamp] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Product]    Script Date: 6/2/2020 2:47:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](225) NULL,
	[cat_id] [int] NULL,
	[code] [varchar](50) NULL,
	[price] [float] NULL,
	[image] [varchar](225) NULL,
	[quantity] [int] NULL,
	[created_at] [timestamp] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[productAttr]    Script Date: 6/2/2020 2:47:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productAttr](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[attr_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/2/2020 2:47:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](225) NULL,
	[phone] [varchar](50) NULL,
	[email] [varchar](225) NULL,
	[password] [varchar](225) NULL,
	[role] [tinyint] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[BillDetail]  WITH CHECK ADD FOREIGN KEY([bill_id])
REFERENCES [dbo].[Bill] ([id])
GO
ALTER TABLE [dbo].[BillDetail]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([cat_id])
REFERENCES [dbo].[Category] ([id])
GO
ALTER TABLE [dbo].[productAttr]  WITH CHECK ADD FOREIGN KEY([attr_id])
REFERENCES [dbo].[Attribute] ([id])
GO
ALTER TABLE [dbo].[productAttr]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([id])
GO
/****** Object:  StoredProcedure [dbo].[createAttr]    Script Date: 6/2/2020 2:47:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[createAttr]
(
@type int ,
@value varchar(225)
)as
BEGIN
insert into Attribute(type,value) values(@type,@value)
END;
GO
/****** Object:  StoredProcedure [dbo].[getAllBill]    Script Date: 6/2/2020 2:47:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getAllBill]
as
begin
select * from Bill 
end
GO
/****** Object:  StoredProcedure [dbo].[getAttr]    Script Date: 6/2/2020 2:47:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getAttr]
as
begin
select *  from Attribute
end
GO
/****** Object:  StoredProcedure [dbo].[getAttrByProductId]    Script Date: 6/2/2020 2:47:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[getAttrByProductId]
(
@id int 
)
as
begin

select Attribute.value , Attribute.type from Attribute 
join productAttr on Attribute.id = productAttr.attr_id where productAttr.product_id = @id 

END
GO
/****** Object:  StoredProcedure [dbo].[getBillDetail]    Script Date: 6/2/2020 2:47:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[getBillDetail]
(
@BillId int
)
as 
begin
  select BillDetail.id, Product.code ,Product.name , Attribute.value ,Category.Name  as "Mame cate" ,Product.price , BillDetail.quantity, BillDetail.bill_id , BillDetail.total , Attribute.type from Product
  join Category on Product.cat_id = Category.id
join BillDetail on Product.id = BillDetail.product_id
join productAttr on Product.id = productAttr.product_id
join Attribute on productAttr.attr_id = Attribute.id
where BillDetail.bill_id = @BillId
end
GO
/****** Object:  StoredProcedure [dbo].[getBillDetail4]    Script Date: 6/2/2020 2:47:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[getBillDetail4]
(
@BillId int
)
as 
begin
select BillDetail.id, Product.code ,Product.name , Category.Name  as "Mame cate" ,Product.price , BillDetail.quantity, BillDetail.bill_id , BillDetail.total , MAX(CASE WHEN Attribute.type=0 THEN Attribute.value ELSE NULL END) as 'color', MAX(CASE WHEN Attribute.type=1 THEN Attribute.value ELSE NULL END) AS 'size' from Product  
join Category on Product.cat_id = Category.id
join BillDetail on Product.id = BillDetail.product_id
 join productAttr on Product.id = productAttr.product_id
 join  Attribute on productAttr.attr_id = Attribute.id
where BillDetail.bill_id = @BillId  
group by BillDetail.id, Product.code ,Product.name ,Category.Name  ,Product.price , BillDetail.quantity, BillDetail.bill_id , BillDetail.total 
end

GO
/****** Object:  StoredProcedure [dbo].[getBillDetail5]    Script Date: 6/2/2020 2:47:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[getBillDetail5]
(
@BillId int
)
as 
begin
select BillDetail.id, Product.code ,Product.name , Category.Name  as "Mame cate" ,Product.price , BillDetail.quantity, BillDetail.bill_id , BillDetail.total , MAX(CASE WHEN Attribute.type=0 THEN Attribute.value ELSE NULL END) as 'color', MAX(CASE WHEN Attribute.type=1 THEN Attribute.value ELSE NULL END) AS 'size' from Product  
join Category on Product.cat_id = Category.id
join BillDetail on Product.id = BillDetail.product_id
 join productAttr on Product.id = productAttr.product_id
 join  Attribute on productAttr.attr_id = Attribute.id
where BillDetail.bill_id = @BillId  
group by BillDetail.id, Product.code ,Product.name ,Category.Name  ,Product.price , BillDetail.quantity, BillDetail.bill_id , BillDetail.total 
end
GO
/****** Object:  StoredProcedure [dbo].[getBillDetail6]    Script Date: 6/2/2020 2:47:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[getBillDetail6]
(
@BillId int
)
as 
begin
select BillDetail.id, Product.code ,Product.name , MAX(CASE WHEN Attribute.type=0 THEN Attribute.value ELSE NULL END) as 'color', MAX(CASE WHEN Attribute.type=1 THEN Attribute.value ELSE NULL END) AS 'size' , Category.Name  as "Mame cate" ,Product.price , BillDetail.quantity, BillDetail.bill_id , BillDetail.total from Product  
join Category on Product.cat_id = Category.id
join BillDetail on Product.id = BillDetail.product_id
 join productAttr on Product.id = productAttr.product_id
 join  Attribute on productAttr.attr_id = Attribute.id
where BillDetail.bill_id = @BillId  
group by BillDetail.id, Product.code ,Product.name ,Category.Name  ,Product.price , BillDetail.quantity, BillDetail.bill_id , BillDetail.total 
end

GO
/****** Object:  StoredProcedure [dbo].[getBillDetailbyBill]    Script Date: 6/2/2020 2:47:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getBillDetailbyBill](
@BillId int
)
as
begin
select Product.code ,Product.name ,Category.Name, Product.price, BillDetail.quantity from Product
join Category on Product.cat_id = Category.id
join BillDetail on Product.id = BillDetail.product_id
END
GO
/****** Object:  StoredProcedure [dbo].[getBillDetailbyBill1]    Script Date: 6/2/2020 2:47:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[getBillDetailbyBill1](
@BillId int
)
as
begin
select BillDetail.id, Product.code ,Product.name ,Category.Name as "Mame cate", Product.price, BillDetail.quantity from Product
join Category on Product.cat_id = Category.id
join BillDetail on Product.id = BillDetail.product_id
where BillDetail.bill_id = @BillId
END

GO
/****** Object:  StoredProcedure [dbo].[getBillDetailByMaProduct]    Script Date: 6/2/2020 2:47:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[getBillDetailByMaProduct]
(
@code nvarchar(50),
@id int
)
as
begin
select distinct *  from BillDetail join
Product on BillDetail.product_id = Product.id where Product.code = @code and BillDetail.bill_id = @id
end
GO
/****** Object:  StoredProcedure [dbo].[getBillDetailtoList]    Script Date: 6/2/2020 2:47:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getBillDetailtoList](
@BillId int
)
as
begin
select BillDetail.id, Product.code ,Product.name, Category.Name as "Mame cate", Product.price, BillDetail.quantity, BillDetail.total , BillDetail.adminPhone , BillDetail.userPhone from Product
join Category on Product.cat_id = Category.id
join BillDetail on Product.id = BillDetail.product_id
where BillDetail.bill_id = @BillId
END
GO
/****** Object:  StoredProcedure [dbo].[getcat]    Script Date: 6/2/2020 2:47:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getcat]
as
begin
select *  from Category
end
GO
/****** Object:  StoredProcedure [dbo].[getInfoToEditBillDetail]    Script Date: 6/2/2020 2:47:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROc [dbo].[getInfoToEditBillDetail] 
(
@id int
)
as
begin
select Product.name , Product.price , Category.Name , Product.code , BillDetail.quantity , BillDetail.id from Product
join Category on Product.cat_id = Category.id
join BillDetail on Product.id = BillDetail.product_id
where BillDetail.id = @id
end

GO
/****** Object:  StoredProcedure [dbo].[getInfoToEditBillDetail1]    Script Date: 6/2/2020 2:47:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROc [dbo].[getInfoToEditBillDetail1] 
(
@id int
)
as
begin
select Product.name , Product.price , Category.Name as "NameCate" , Product.code , BillDetail.quantity , BillDetail.id from Product
join Category on Product.cat_id = Category.id
join BillDetail on Product.id = BillDetail.product_id
where BillDetail.id = @id
end

GO
/****** Object:  StoredProcedure [dbo].[GetInfoToEditBillDetail2]    Script Date: 6/2/2020 2:47:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[GetInfoToEditBillDetail2]
(
@idHoaDon int
)
as
begin
 select DISTINCT Bill.maHoaDon , Bill.userPhone , Bill.adminPhone from Bill join 
 BillDetail on BillDetail.bill_id = Bill.id 
where BillDetail.id = @idHoaDon
end
GO
/****** Object:  StoredProcedure [dbo].[getInfoToEditBillDetail3]    Script Date: 6/2/2020 2:47:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROc [dbo].[getInfoToEditBillDetail3]
(
@id int
)
as
begin
select Product.name , Product.price , Category.Name as "NameCate" , Product.code , BillDetail.quantity , BillDetail.id from Product
join Category on Product.cat_id = Category.id
join BillDetail on Product.id = BillDetail.product_id
where BillDetail.id = @id
end
GO
/****** Object:  StoredProcedure [dbo].[getPrice]    Script Date: 6/2/2020 2:47:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[getPrice](
@code int

)
as
declare @price int
begin
select BillDetail.quantity  from Product join BillDetail on Product.id = BillDetail.product_id where Product.code = @code

end

GO
/****** Object:  StoredProcedure [dbo].[getPrice1]    Script Date: 6/2/2020 2:47:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[getPrice1](
@code int

)
as
declare @price int
begin
select Product.price , BillDetail.quantity  from Product join BillDetail on Product.id = BillDetail.product_id 
where Billdetail.bill_id = @code

end

GO
/****** Object:  StoredProcedure [dbo].[getProduct]    Script Date: 6/2/2020 2:47:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[getProduct]
as
begin
select Product.id , Product.code , Product.name , Product.price , Category.Name as "Loai san pham", Product.quantity , Product.image from Product
join Category on Product.cat_id = Category.id
END
GO
/****** Object:  StoredProcedure [dbo].[getProductByCode]    Script Date: 6/2/2020 2:47:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[getProductByCode]
(
@code int 
)

as
begin
select Product.id as "Id sản phẩm", Product.name as "Tên sản phẩm" , Product.price as "Giá sản phẩm",Product.code as "Mã sản phẩm" , Category.Name as "Tên danh mục" ,Product.image as "Ảnh sản phẩm" from Product
join Category on Product.cat_id = Category.id  where Product.code = @code

END
GO
/****** Object:  StoredProcedure [dbo].[getProductIdQuantity]    Script Date: 6/2/2020 2:47:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[getProductIdQuantity]
(
@maHD varchar(255)
)
as
begin
select   BillDetail.product_id , BillDetail.quantity , Product.quantity as 'ProductQuantity' , Product.id from BillDetail
join Bill on BillDetail.bill_id = Bill.id
join Product on BillDetail.product_id = Product.id
where Bill.maHoaDon = @maHD

end
GO
/****** Object:  StoredProcedure [dbo].[getProductIdQuantity1]    Script Date: 6/2/2020 2:47:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getProductIdQuantity1]
(
@maHD varchar(255)
)
as
begin
select   BillDetail.product_id , BillDetail.quantity , Product.quantity as 'ProductQuantity'  from BillDetail
join Bill on BillDetail.bill_id = Bill.id
join Product on BillDetail.product_id = Product.id
where Bill.maHoaDon = @maHD

end
GO
/****** Object:  StoredProcedure [dbo].[getProductQtt]    Script Date: 6/2/2020 2:47:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[getProductQtt]
(
@idBillD int
)
as
begin
select Product.quantity from Product join
BillDetail on BillDetail.product_id = Product.id where BillDetail.id = @idBillD
end

GO
/****** Object:  StoredProcedure [dbo].[getTotal]    Script Date: 6/2/2020 2:47:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[getTotal](
@code int

)
as
declare @price int
begin
select Product.price from Product join BillDetail on Product.id = BillDetail.product_id where Product.code = @code

end
GO
/****** Object:  StoredProcedure [dbo].[searchByCode]    Script Date: 6/2/2020 2:47:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[searchByCode](
@Code int 
)
as
begin
 select  Product.name , Product.price , Category.Name as "Loai san pham", Product.quantity , Product.image from Product 
 join Category on Product.cat_id = Category.id
 where  Product.code = @Code
end

GO
/****** Object:  StoredProcedure [dbo].[searchCateName]    Script Date: 6/2/2020 2:47:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[searchCateName]
(
@name nvarchar(255)
)
as
begin
select * from Category where name like '%'+@name+'%'
end
GO
/****** Object:  StoredProcedure [dbo].[selectProduct]    Script Date: 6/2/2020 2:47:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[selectProduct]
AS
	select * from Product
GO;
GO
/****** Object:  StoredProcedure [dbo].[selectProductcate]    Script Date: 6/2/2020 2:47:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE proc [dbo].[selectProductcate]
as
begin
select Product.id , Product.code , Product.name , Product.price , Category.Name as "Loai san pham", Product.quantity , Product.image , Attribute.value , Attribute.type from Product
join Category on Product.cat_id = Category.id
join productAttr on productAttr.product_id = Product.id
join Attribute on Attribute.id = productAttr.attr_id
END

GO
/****** Object:  StoredProcedure [dbo].[selectProductcate1]    Script Date: 6/2/2020 2:47:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[selectProductcate1]
as
begin
select Product.id , Product.code , Product.name , Product.price , Category.Name as "Loai san pham", Product.quantity , Product.image , MAX(CASE WHEN Attribute.type=0 THEN Attribute.value ELSE NULL END) as 'color', MAX(CASE WHEN Attribute.type=1 THEN Attribute.value ELSE NULL END) AS 'size' from Product
join Category on Product.cat_id = Category.id
join productAttr on productAttr.product_id = Product.id
join Attribute on Attribute.id = productAttr.attr_id
group by Product.id ,Product.code , Product.name , Product.price , Category.Name, Product.quantity , Product.image
END
GO
/****** Object:  StoredProcedure [dbo].[selectProductcate2]    Script Date: 6/2/2020 2:47:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[selectProductcate2]
as
begin
select Product.id , Product.code , Product.name , Product.price , Category.Name as "Loai san pham", Product.quantity , Product.image , MAX(CASE WHEN Attribute.type=0 THEN Attribute.value ELSE NULL END) as 'color', MAX(CASE WHEN Attribute.type=1 THEN Attribute.value ELSE NULL END) AS 'size' from Product
join Category on Product.cat_id = Category.id
join productAttr on productAttr.product_id = Product.id
join Attribute on Attribute.id = productAttr.attr_id
group by Product.id ,Product.code , Product.name , Product.price , Category.Name, Product.quantity , Product.image
END
GO
/****** Object:  StoredProcedure [dbo].[selectProductSearch]    Script Date: 6/2/2020 2:47:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[selectProductSearch]
(
@code nvarchar(255)
)
as
begin
select Product.id , Product.code , Product.name , Product.price , Category.Name as "Loai san pham", Product.quantity , Product.image , MAX(CASE WHEN Attribute.type=0 THEN Attribute.value ELSE NULL END) as 'color', MAX(CASE WHEN Attribute.type=1 THEN Attribute.value ELSE NULL END) AS 'size' from Product
join Category on Product.cat_id = Category.id
join productAttr on productAttr.product_id = Product.id
join Attribute on Attribute.id = productAttr.attr_id
where Product.code = @code
group by Product.id ,Product.code , Product.name , Product.price , Category.Name, Product.quantity , Product.image
END
GO
USE [master]
GO
